*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #180a01;
}
 .container{
  max-width: 1310px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
 }
.header-container{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a-hrefs{
  width: 469px0;
height: 33px;
display: flex;
gap: 50px;
}
.a-hrefs a{
  color:#A3A3A3;
  text-decoration: none;
}


.header-btn button{ 
  width: 163px;
height: 40px;
border-radius: 100px;
background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
font-weight: 500;
font-size: 17px;
color: white;
border: none;
}

.button{
  color: #FF5924 12.12%, #FFA229;
}



.hero-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 



